/*  pink color style    */
.story-section .story-item i,
.story-section .story-text h3,
.couple-section .social-links a i,
.couple-section .couple i.fa-heart,
.couple-section .couple h3,
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color:#fb839e;
}

.couple-section .social-links a i,
.couple-section .couple img{
    border-color:#fb839e;
}

.couple-section .social-links a:hover i{
    background-color: #fb839e;;
}